body {
 background-image: url(body.jpg); /* Цвет фон */
 color: #1f1f1f; /* Цвет текста */
 font-family: arial;
 }

.wrapper {
width: 1024px;
height: 1024px;
margin: 0 auto;
}

.photo {
  text-align: center;
  padding-top: 20px;
}
ul {
  font-size: 14px;
}

img {
  width: 200px;
  background-color: #0056d3;
  border: 1px solid #8f8f8f;
  }

.hr13 {
  background-color: #1f1f1f;
  height: 1px;
  width: 500px;
      }

.hr2 {
  background-color: #656466;
  height: 1px;
  width: 500px;
}

.data
{margin-left: 270px;}
