$font: 'Roboto Bold', sans-serif;
$color_black: #575454;
$color_red: #ff0000;
$color_white: #fff;
$size: 1rem;

.footer {


  &__container {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 300px;
      max-width: 960px;
      width: 100%;
      height: 100%;
      background: #e2e1e1;
      border-top: 4px solid $color_black;
    }

    .footer-icon {
      font-size: 24px;
      color: $color_red;
      opacity: 0.8;
      margin: 4px;
    }

    .footer-icon:hover {
      color: $color_black;
      opacity: 0.8;
    }

     .copyright {
       color: $color_black;
       font-family: 'Roboto Regular';
       font-size: 14px;
       padding-left: 20px;
       padding-top: 10px;
       font-weight: 700;
     }

}



@media (min-width: 768px) and (max-width: 959px) {
  .footer__container {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

}

@media (min-width: 960px) {

  .footer__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }

   .social {
     margin-right: 20px;
   }




}
