$font: 'Roboto Bold', sans-serif;
$color_black: #575454;
$color_red: #ff3434;
$color_white: #fff;
$size: 1rem;

* {
  margin: 0;
  padding: 0;
}

.header {
  // background: url(../img/bg.jpg) no-repeat top center;


   &__container {
     min-width: 300px;
     max-width: 960px;
     width: 100%;
     height: 100%;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     border-top: 6px solid $color_black;
    }

    &__line {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $color_red;
      font-family: $font;
      font-size: 15px;
      align-content: space-around;
    }

}

.order {
  background: $color_red;
  color: $color_white;
  font-family: 'Roboto Regular';
  margin-right: 50px;
  padding: 5px 12px;
  border-radius: 6px;
  height: 33px;
}
.order:hover {
    opacity: 1;
    color: $color_black;
}

.slogan {
  border-left: solid 1px #ccc;
  color: $color_black;
  font-size: 24px;
  font-family: 'Roboto Light Italic';
  line-height: 50px;
  padding-left: 40px;
}

.logo {
  position: relative;
}


.logo__img {
  width: 150px;
  margin-left: 20px;
}


.contact {

  a {
  color: $color_black;
  font-family: 'Roboto Regular';
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  line-height: 19px;
 }
 .icon {
   opacity: .8;
   margin-right: 3px;
   line-height: 20px;

 }
 li {
   position: relative;

 }

}

.nav-container {
  border-top: 1px solid #e2e1e1;
  border-bottom: 1px solid #e2e1e1;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.nav {
       font-size: 0;

      &__item {
          display: inline-block;
          width: 100px;
          height: 40px;
          box-sizing: border-box;
          vertical-align: top;
      }
      &__link {
        display: block;
        text-decoration: none;
        color: $color_black;
        font-size: 14px;
        text-align: center;
        font-family: $font;
        text-transform: uppercase;
        vertical-align: bottom;
        line-height: 39px;

      }

      &__link:hover {
          color: $color_white;
          background-color: $color_red;
      }
}






.lang-present {
  display: flex;
  flex-direction: row;
}

.languages {
       font-size: 0;

      &__item {
          display: inline-block;
          width: 20px;
          height: 20px;
          box-sizing: border-box;
          vertical-align: top;
      }
      &__link {
        display: block;
        text-decoration: none;
        color: $color_black;
        font-size: 12px;
        text-align: center;
        font-family: $font;
        text-transform: uppercase;
        vertical-align: bottom;
        line-height: 36px;

      }

      &__link:hover {
        color: $color_red;
      }
}

.presentation__btn {
  display: inline-block;
  color: $color_black;
  font-size: 14px;
  font-family: 'Roboto Regular';
  text-decoration: none;
  height: 28px;
  line-height: 23px;
  border: 2px solid $color_red;
  border-radius: 14px;
  padding: 0 13px;
  box-sizing: border-box;
  margin-top: 4px;
  margin-left: 20px;
}
.presentation__btn:hover {
  border: 2px solid $color_black;
}


.nav-country {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

      &__list {
          background-color: #575454;
          border-radius: 0 0 0 26px;

      }

      &__item {
          display: inline-block;
          // width: 80px;
          height: 40px;
          box-sizing: border-box;
          vertical-align: top;
          margin-left: 10px;
          margin-right: 10px;
      }
      &__link {
        display: block;
        text-decoration: none;
        color: $color_white;
        font-size: 14px;
        text-align: center;
        font-family: $font;
        text-transform: uppercase;
        vertical-align: bottom;
        line-height: 39px;

      }

      &__link:hover {
          color: $color_red;
          background-color: $color_black;
      }

}

@media (min-width: 768px) and (max-width: 959px) {

  .header__container {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 59px;
  }

}


@media (min-width: 960px) {

  .header {

     &__line {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
      }

   }

    .nav-country__list {
      width: 350px;
      padding-left: 73px;
    }

}
