@import "reset";
@import "fonts";

@import "header";
@import "main";
@import "footer";

@import "services";
@import "accordion";
@import "modalwindow";
@import "slider";



.brends {
  width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px auto;
}
