@import "reset";
@import "fonts";

@import "header";
@import "main";
@import "footer";

@import "services";
@import "accordion";





// body {
//   background: url(../img/jorney.jpg) 100% 100% no-repeat;
//   background-size: cover; /* Масштабируем фон */
//   background-attachment: fixed; /* Фиксируем фон */
//   width: 100%;
//   margin: auto;
// }

.brends {
  width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px auto;
}
