<main class="main">
    <div class="main__container">
      //= advantages.html
      //= country.html
      <div class="main-info">
        <div id="main-services">
          <script type="text/template" id="dataServices">
              <% for (var i = 0; i < data.length; i++ ) { %>
             <div class="main-services__block">
                 <a href="<%= data[i].link %>" class="main-services__title_link"><p class="main-services__title"><%= data[i].title %></p></a>
                 <img src="<%= data[i].img %>" class="main-services__img"></i>
                 <p class="main-services__desc"><%= data[i].desc %></p>
                 <a href="<%= data[i].link %>" class="main-services__link">Read more...</a>
                </div>
              <% } %>
           </script>
        </div>
    </div>
</main>
