#gridContainer {
      margin-top: 16px;
      margin-bottom: -16px;
}

#grid {
  margin: 0 auto;
  width: 300px;

}
.grid-link {
  position: relative;
}

#search__button {
      border: 2px solid #ff4d4f;
}

.grid-item {
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  margin: 2px auto;
  position: relative;
}

.grid-title {
  position: absolute;
  top: 30%;
  left: 30%;
  color: #fff;
  font-family: 'Montserrat Bold';
  font-size: 22px;
  text-align: center;
  text-transform: capitalize;
  width: 40%;


}

.persent-size {
    width: 99%;
}

.persent-size img {
    width: 99%;
    border-radius: 3px;
}

@media (min-width: 768px) and (max-width: 939px) {
  #grid {
    margin: 0 auto;
    width: 700px;
  }

  .persent-size {
      width: 48%;
  }

}


@media (min-width: 940px) {
  #gridContainer {
    margin: 0 auto;
    margin-top: 36px;
    margin-bottom: -18px;
    width: 922px;
    margin-left: 0;
    margin-right: 0;

  }

  #grid {
    margin: 0 auto;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .persent-size {
      width: 31.73%;
  }



}
