#gridContainer {
      margin-top: 16px;
      margin-bottom: -16px;
}

#grid {
  margin: 0 auto;
  width: 300px;

}

#search__button {
      border: 2px solid #ff4d4f;
}

.grid-item {
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  margin: 2px;
}

.persent-size {
    width: 99%;
}

@media (min-width: 768px) and (max-width: 939px) {
  #grid {
    width: 700px;
  }

  .persent-size {
      width: 46%;
  }

}


@media (min-width: 940px) {
  #grid {
    width: 940px;
  }

  .persent-size {
      width: 31%;
  }

}
