.wrapper {
  background: url(../img/bg.jpg) no-repeat center top;
  width: 100%;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
  width: 1280px;
}

.logo {
  width: 15%;
  margin-left: 40px;
}

.nav-block {
  display: flex;
  flex-direction: row;
  width: 14%;
  justify-content: space-between;
  margin-right: 50px;
}

.language {
  position: relative;
}

.fa-chevron-down {
  position: absolute;
  left: 30px;
  top: -1px;
  color: #a7627f;
}

.icon-menu {
  display: inline-block;
  position: absolute;
  right: -30px;
  top: -2px;
}

.language {

  &__list {
    position: absolute;
  }

  &__item {
    text-transform: uppercase;
    line-height: 25px;

  }

  &__link {
    text-decoration: none;
    color: #343230;
    font-size: 13px;

  }
  &__link:hover {
    color: #a7627f;
  }

  &__link:focus {
    color: #a7627f;
  }

  &__item_hiden {
    display: none;
  }
}
