* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.wrapper {
  margin: 20px 0 0 20px;

}

.item-add {
  cursor: pointer;
  border: 1px solid #cecece;
  background: #fda479;
  box-shadow: inset 0px 20px 20px #ffffff;
  border-radius: 6px;
  padding: 2px 2px;
  width: 30px;
}

.item-add:hover {
  	box-shadow: inset 0px -20px 20px #ffffff;
    background: #7ebbe8;

}
.item {
  list-style: none;
  width: 150px;
  /*margin-left: 5px;*/
  border-bottom: 1px solid grey;
}

.item-delete {
  /*font-family: serif;*/
  font-size: 10px;
  display: inline-block;
  border: 1px solid grey;
  width: 10px;
  height: 10px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  line-height: 10px;
}


.edit-btn {
  display: none;
}

.item-edit {
    display: none;
}

.edit-btn_active {
  display: inline-block;
}

.item-edit_active {
  display: inline-block;
}

p {
  display: inline-block;
}


.textToDo {
  width: 127px;
  margin-left: 5px;

}

.controlls {
  margin-top: 5px;
}
