$font: 'Roboto Regular', sans-serif;
$color_black: #444;
$color_white: #fff;
$size: 1rem;

.main {
  background-color: #fff;
}

.search-container {
  background-color: #ffF;
}

.search {
  min-width: 300px;
  max-width: 1160px;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  & img {
      margin: 0 auto;
  }
}

.about-container {
background-color: #ffe;
}

.about {
  min-width: 300px;
  max-width: 1160px;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  &__title {
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    color: $color_black;
    font-family: $font;
  }

  &__descr {
    display: flex;
    flex-direction: row;
  }

  &__info {
    font-size: 15px;
    color: $color_black;
    font-family: $font;
    line-height: 25px;
    text-align: justify;
    margin-left: 25px;
  }
  .fa-tree {

    font-size: 130px;
    color: #ffff65;
  }

}

.grey-container {
  background: #f4f4f4;
}

.why-online {
  min-width: 300px;
  max-width: 1160px;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  &__title {
    margin-bottom: 20px;
    padding-top: 18px;
    text-align: center;
    font-size: 30px;
    color: $color_black;
    font-family: $font;
  }

  &__descr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__info {
    font-size: 14px;
    color: $color_black;
    font-family: $font;
    line-height: 20px;
    text-align: justify;
    margin-left: 25px;
    width: 41%;
    margin-top: 10px;
    display: block;


  }
}

.search {
  min-width: 300px;
  max-width: 1160px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  &__title {
    margin-bottom: 20px;
    padding-top: 18px;
    text-align: center;
    font-size: 18px;
    color: $color_black;
    font-family: $font;
  }

  &__btn {
    display: block;
    width: 250px;
    height: 60px;
    background: #f80;
    text-decoration: none;
    font-size: 20px;
    color: $color_white;
    font-family: $font;
    border-radius: 3px;
    text-align: center;
    line-height: 64px;

    &:hover {
      background: #ff9600;
    }
  }

}

.countries {
  min-width: 300px;
  max-width: 1160px;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
  }

  &__item {
    width: 19%;
    text-align: center;
    line-height: 23px;
  }

  &__link {
    font-size: 14px;
    color: $color_black;
    font-family: $font;
    text-decoration: none;
  }

  &__img {
    display: inline;
    margin-top: 5px;
  }

  &__text {
    display: inline;
    vertical-align: top;
    margin-left: 5px;
  }


}

.icon {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
}


.join-container {
  background: #f4f4f4;
}

.join {
  min-width: 300px;
  max-width: 1160px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 25px;
}

.subscribe {
  width: 50%;
  margin-right: 50px;
  margin-left: 60px;

  &__block {
  border: 2px dashed red;
  background: $color_white;

  }

  &__form {
    margin: 20px;
    margin-left: 22px;
  }

  &__email {
    font-family: $font;
    box-sizing: border-box;
    width: 61%;
    padding: 20px;
    height: 40px;
    line-height: 20px;
    border: none;
    background-color: #f0f0f0;
    font-size: 16px;
  }
  &__btn {
    box-sizing: border-box;
    width: 35%;
    height: 40px;
    background: #FF3232;
    border: none;
    color: $color_white;
    transition: ease .5s;
    display: inline-block;
    text-align: center;
    font-family: $font;
    margin-left: -4px;
    &:hover {
       background: #e52d2d;
    }
  }

  &__about {
    display: flex;
    flex-direction: row;
    margin: 20px;
  }

  &__text {
        font-family: $font;
        color: $color_black;
        font-size: 14px;
        line-height: 18px;
        width: 36%;
        margin-left: 20px
  }

  .fa-calendar,
  .fa-star-o {

    color: $color_black;
    font-size: 20px;
    line-height: 28px;
    margin-right: 5px;
    margin-left: 5px;


  }

}

.facebook {
  width: 50%;
}
