
body {
  background: url(../img/jorney.jpg) 100% 100% no-repeat;
  background-size: cover; /* Масштабируем фон */
  background-attachment: fixed; /* Фиксируем фон */
  width: 100%;
  margin: auto;
}

.wrapper {
  width: 500px;
  border-radius: 7px;
  background-color: #fff3e8;
  margin: 30px auto;
  border: 1px solid grey;
  box-shadow: 0 0 12px rgb(220, 220, 225);
}

.title {
  font-family: sans-serif;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #0056a4;
}
